@media only screen and (max-width: 650px) {
	.body-content {
		background: url("../data/image/background/piano.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		margin: 40px 0px 0px 0px; 
		padding: 25px 10px;
		z-index: 2; /*Position of div back of menubar*/
	}
	.body-content, .hide-unhide, 
	.left-screen, nav {
		display: inline-block;
	}
	.center {
		text-align: center;
		padding: 10px auto;
	}
	.content-field {
		display: block;
		float: left;
		width: 250px;
		height: 330px;
		margin: 10px;
		padding: 0px; 
		font-family: sans-serif;
	}
	.content-field:hover {
		color: #f00;
	}
	.content-field h6 div{
		font-size: 15px;
		margin-left: 20px;
		color: gold;
	}
	.cover-dvd {
		height: 350px;
	}
	.cover-dvd img {
		height: 300px;
		width: auto; 
	}
	.disabled {
		pointer-events: none;
		opacity: 0.5;
	}
	.fixed-content {
		position: fixed;
	}
	.body-content h1 {
		background: #ccc;
		margin: 5px auto;
	}
	.hide {
		display: none;
	}
	.hide-unhide {
		position: fixed;
		float: left;
		top: 43px;
		box-shadow: 3px 3px 6px #333;
		background: #fff;
	}
	.hide-unhide img {
		width: 25px;
	}
	.image-reffer {
		display: block;
		/*float: left;*/
		margin: 15px;
		width: auto;
		height: 400px;
	}
	.image-reffer img {
		padding: 10px;
		width: auto;
		height: 400px;
		background: #19325c; 
	}
	.learn-image-layout  img{
		width: 250px;
		height: 250px;
	}
	.left-screen {
		position: fixed;
		background-color: #fff;
		box-shadow: 3px 0px 3px #333;
		width: 240px;
		height: 100%;
		left: 0;
		top: 43px;
		padding: 25px 5px;
	}
	.left-screen ul {
	    list-style: none;
	    margin-left: 25px;
	    margin-top: 15px;
	    margin-bottom: 15px;
	}
	.left-screen li {
	    margin: 5px;
	}
	.left-screen h4 {
	    text-align: left;
	    margin-top: 15px;
	    margin-bottom: 15px;
	}
	.max {
		width: 100%;
		height: 100%;
		margin-left: 0px;
	}
	nav {
		position: fixed;
		z-index: 3; /*Position of menubar about of div .body-content*/
		padding: 5px;
		background: #ccc;
		box-shadow: 0px 2px 3px #333;
		border-bottom: 1px solid #000;
		width: 100%; 
	}

	nav ul {
		list-style:none;
		position:relative;
		float:left;
		margin: 0px 80px;
		padding:0;
	}

	nav ul a {
		display:block;
		color:#000;
		text-decoration:none;
		font-weight: 700;
		font-size: 13px;
		font-family: sans-serif;
		line-height: 32px;
		padding: 0px 10px;
	}
	nav ul a:hover, 
	nav ul ul a:hover {
		color: #f00;
	}
	nav ul li {
		position:relative;
		float:left;
		margin:0;
		padding:0;
	}
	nav ul li.disable {
		background:#ddd
	}
	nav ul li:hover {
		color: #000;
	}
	nav ul ul {
		display:none;
		position:absolute;
		margin: 0px 0px; 
		top:100%;
		left:0;
		border-bottom: 1px solid #000;
		border-left: 1px solid #000;
		border-right: 1px solid #000;
		background: #ccc;
		box-shadow: 2px 5px 6px #ccc;
		padding:0;
	}
	nav ul ul li {
		float:none;
		width:200px;
	}
	nav ul ul a {
		line-height:120%;
		padding:10px 15px;
	}
	nav ul ul ul {
		top:0;
		left:100%;
	}
	nav ul li:hover > ul {
		display:block;
	}
	.normal {
		width: 82.4%;
		height: 100%;
		margin-left: 250px; 
	}
	.position-hide {
		left: 0px;
	}
	.position-unhide {
		left: 250px;
	}
	.sections-field {
		display: inline-block;
		/*float: center;	*/
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 15px 20px;
		background: #664;
	}
	.table-center {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.table-line {
		background: #000;
	}
	.table-screen {
		display: block;
		float: center;
		clear: both;
		left: 
		width: auto;
		height: auto;
		padding: 15px;
		margin: 5px auto;
	}
	.table-screen h1 {
		padding: 25px;
	}
	table, .table-screen h1 {
		background: #ccc;
	}
	table a {
		color: #000;
	}
	table, th, td {
		border: 1px solid #000;
		text-align: center;
		color: #000;
	}
	.table-grid th,
	td {
		padding: 5px 15px;
	}
	.unhide {
		display: block;
	}
	.with-image {
		display: block;
		float: left;
		height: auto;
		width: auto;
		background: #ccc;
		margin: 10px;
		padding: 5px;
	}
	.with-image a img {
		height: 200px;
		width: auto;
	}


	/* keyframes for rotating animation */
	@-webkit-keyframes spin {
	  from { transform: rotateY(0); }
	  to   { transform: rotateY(360deg); }
	}

	/* scene wrapper */
	.wrapper{
	  height: 250px;
	  margin-top:0px;
	  position:relative;
	  perspective: 800;
	  perspective-origin: 50% 100px;
	}

	/* cube wrapper */
	.cube{
	  position: relative;
	  margin: 0 auto;
	  width: 200px;
	  transform-style: preserve-3d;
	}
	.cube:hover{
	  position: relative;
	  margin: 0 auto;
	  width: 200px;
	  transform-style: preserve-3d;
	  animation: spin 4s infinite linear;
	  transition: all 1s linear;
	}
	/* inner cube */
	i{
	  position:absolute;
	  top:60px;
	  display:block;
	  
	  transition: all 1s linear;
	}
	i.front{
	  transform: translateZ(10px);
	  left:50px;
	  width:100px;
	  height:100px;
	}
	i.back{
	  transform: translateZ(0px) rotateY(180deg);
	  left:50px;
	  width:100px;
	  height:100px;
	}
	i.bottom{
	  transform:rotateX(-90deg) translateY(0px);
	  transform-origin: left bottom;
	  left:50px;
	  width:100px;
	  height:10px;
	}
	i.left{
	  transform:rotateY(270deg) translateX(0px);
	  transform-origin: center left;
	  left:50px;
	  width:10px;
	  height:100px;
	}
	i.right{
	  transform:rotateY(-270deg) translateX(0px);
	  transform-origin: top right;
	  left:190px;
	  width:10px;
	  height:100px;
	}
	i.top{
	  transform:rotateX(-270deg) translateY(0px);
	  transform-origin: left top;
	  left:50px;
	  width:100px;
	  height:10px;
	}

	/* Size of cover CD */
	i.left img, i.right img,
	i.left, i.right {
		width: 10px;
		height: 150px;
	}
	i.top img, i.bottom img,
	i.top, i.bottom {
		width: 150px;
		height: 10px;
	}
	i.front img, i.back img,
	i.front, i.back {
		width: 150px;
		height: 150px;
	}
	i.left img, i.left,
	i.top, i.bottom,
	i.right {
		background: url(../data/image/cover/horizontal-lines.png);
		background-size: 10px;
	}
	i.front, i.back {
		background: url(../data/image/cover/na.png);
		background-size: 100px;
	}
	/* hover transformations */
	.cube:hover{
	  top: 0px;
	}
	.cube:hover {
	  transform: translateZ(100px) rotateX(-210deg);
	  transform-origin: top center;
	}
	.cube:hover i{
	  top:50px;
	}

	/*Positions Body*/
	.left-align {
		margin-top: 40px;
		width: 100%;
	}
	.center-align {
		margin-top: 40px;
		margin-left: 100px;
		width: 100%;
	}
}

/* Exceptions of size Background */

@media only screen and (min-width: 250px) and (max-width: 500px) {
	.body-content {
		background-size: 100% 100%;
	}
}